/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: #323232;
    border :none;
}

body{
    background-color: green;
    background-image: url('../img/img.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 85%
}

#Introdução {
    background-color: white;
    width: 50%;
    margin-bottom: 9%;
    margin-left: 7%;
    margin-right: 25%;
    margin-top: 9%;
    padding: 10%px 20%;
    border-radius: 0%;
    text-align: center;
    
}



