/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: #323232;
    border :none;
}

body{
    background-color: rgb(44, 116, 44);
    background-image: url('img/logo.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 85%
}

h1{
   margin-bottom:5%;
   margin: 1%;
   text-align: center;
}

#Introdução {
    background-color: white;
    width: 50%;
    margin-bottom: 9%;
    margin-left: 7%;
    margin-right: 25%;
    margin-top: 9%;
    padding: 10%px 20%;
    border-radius: 1%;
    text-align: center;
    
}



